*{
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.7) url(./image/organic\ image.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

.container h1 {
    color: rgb(4, 168, 4);
    margin-left: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container ul{
    display: flex;
    list-style:none;
    gap: 15px;
    margin-right: 10px;
}
.content {
    position: absolute;
    top: 30%;
    left: 20%;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 4px;
}

.cart a {
    background-color: rgb(4, 168, 4);
}

.navbar ul li a:hover {
    box-shadow: 0 3px 50px rgb(4, 168, 4) inset,0 3px 50px rgb(4, 168, 4) inset,0 3px 50px rgb(4, 168, 4) inset,0 3px 50px rgb(4, 168, 4) inset;
}
.content h3 {
    font-family: sans-serif;
    margin-left: 20%;
    text-transform: uppercase;
}

.content h1 {
    margin-left: 12%;
    margin-top: 10px;
}

.content p {
    text-align: center;
    margin-top: 17px;
    margin-right: 20%;
}

.search input{
    position: absolute;
    margin-left: 42%;
    margin-top: 22%;
    border-style: none;
    padding: 10px 20px;
}

.button a {
    position: absolute;
    margin-left: 47%;
    margin-top: 26%;
    text-decoration: none;
    color: #fff;
    background-color: rgb(4, 168, 4);
    padding: 5px 10px;
}